{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/9af9b5cee5.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="logo">
      <a href="/">
        <img src="{% static 'main/img/logo.png' %}" width="240" height="60px" />
      </a>
    </div>
    <div class="menu">
      <ul>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'cart:cart_detail' %}">{{ cart|length }} <i class="fa-solid fa-basket-shopping"></i> {{ user.get_username }}</a></li>
        <li><a href="{% url 'users:logout' %}">Выйти</a></li>
        {% else %}
        <li><a href="{% url 'users:login' %}"><i class="fa-solid fa-user"></i>Вход</a><a href="{% url 'users:registration' %}">\Регистрация</a></li>
        <li><a href="{% url 'cart:cart_detail' %}">{{ cart|length }} <i class="fa-solid fa-basket-shopping"></i>Корзина</a></li>
        {% endif %}
      </ul>
    </div>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
