{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h1 class="text-left">Авторизация</h1>
			<form id="contact-form" method="post" action="contact.php" role="form">
				<div class="messages"></div>
				<div class="controls">
					<div class="form-row">
						<div class="col-md-6">
							<label for="form_email">Email</label>
							<input id="form_email" type="email" name="email" class="form-control" placeholder="Введите свой email" required="required" data-error="Неверный email">
							<div class="help-block with-errors"></div>
						</div>
						<div class="col-md-6">
							<label for="form_password">Пароль</label>
							<input id="form_password" type="password" name="password" class="form-control" placeholder="Пароль" required="required" data-error="Неверный пароль">
							<div class="help-block with-errors"></div>
						</div> <a href="{% url 'registration' %}" style="padding-bottom: 10px;">Ещё нету аккаунта?</a>
						<div class="col-md-12">
							<input type="submit" class="btn btn-success btn-send" value="Готово"> </div>
					</div>
			</form>
		</div>
		<!-- /.col-lg-8 col-lg-offset-2 -->
	</div>
	<!-- /.row-->
</div>
<!-- /.container-->
<style media="screen">
.container {
	padding-top: 70px;
}

.col-md-6 {
	padding-bottom: 10px;
}
</style>
{% endblock %}
