/* Фильтры */
.col-xs-3 {
  border: 3px solid #888;
  border-radius: 10px;
  font-weight: bold;
  padding-top: .6rem;
  padding-bottom: .6rem;
  max-width: 15%;
  height: 100%;
}

.col-sm-2 {
  width: 100%;
  padding-left: 20px;
  padding-bottom: 5px;
}

.form-group {
  border-bottom: 2px solid #888;
  padding-bottom: 20px;
}

.form-group:last-child {
  border-bottom: 0px;
}

.form-check-label {
  display: block;
}

.btn {
  width: 70%;
  margin-top: 20px;
  margin-left: 25px;
}
/* Сетка товаров */
.col-sm{
  background-image: url("../img/background2.png");
  background-color: gray;
  color: white;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 10px;
  min-width: 31%;
  max-width: 31%;
  display: grid;
  align-items: end;
}

.col-sm:hover{
  outline: 3px solid #888;
}

.col-xs-9 {
  padding-top: .6rem;
  padding-bottom: .6rem;
  max-width: 83%;
}
.col-sm img {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 70%;
}

.product-name {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 15px auto;
  font-size: 24px;
}

.product-name:hover {
  color: white;
  text-decoration: underline;
}

.product-description {
  font-size: 18px;
  padding: 0;
}

.page-link {
  background-color: gray;
  color: black;
  margin-left: 2%;
  margin-top: 5%;
  text-align: center;
  height: 40px;
  width: 100px;
}

.page-link:hover {
  background-color: grey;
}
